@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}


/*-- Les variables --*/
:root {
    --nav-bg-color: rgba(255, 225, 255, .1);
    --bg-color: #171f2b;
    --second-bg-color: #1f2733;
    --third-bg-color: #2d3542;
    --main-color: rgb(73, 167, 255);
    --white-color: #fff;
    --tab-list-color: #7c8594; 
    --desc-fond-color: rgba(255, 255, 255, 0.1);
}

::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;
}

::placeholder {
    color: var(--white-color);
}

/*-- Coprs de page --*/
html {
    font-size: 62.5%;
}

body {
    color: var(--white-color);
}

#hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

p {
    font-size: 1.6rem;
}

/*-- Pages --*/
.container {
    width: 100vw;
    height: 100vh;
    perspective: 1500px;
    perspective-origin: 50%;
}

.container .box {
    position: relative;
    width: 100%;
    height: 100%;
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 10%;
    backface-visibility: hidden;
}


/*-- Page Information --*/
.title {
    display: flex;
    font-size: 4rem;
    margin-bottom: 15px;
    justify-content: center;
}

.resume {
    padding-top: 2rem;
    padding-bottom: 28rem;
}

.tab-box {
    display: flex;
    width: 100%;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tab-list {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border-bottom: .3rem solid var(--tab-list-color);
    color: var(--tab-list-color);
    transition: .5s;
}

.tab-list.resume-list.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

.resume-list:nth-child(2) {
    justify-content: center;
}

.resume-list:nth-child(3) {
    justify-content: flex-end;
}

.tab-list h3 {
    font-size: 2.5rem;
}

.tab-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.tab-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
}

.tab-grid.resume-box.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: .5s;
}

.tab-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--desc-fond-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
}

.tab-item h4 {
    font-size: 2.3rem;

}

.resume-item h4:nth-child(1),
.resume-item h4:nth-child(3) {
font-size: 1.7rem;
color: var(--main-color);
font-weight: 400;
}

.resume-item h4:nth-child(3) {
    position: relative;
    color: var(--white-color);
    margin-left: 2rem;
}

.resume-item h4:nth-child(3)::before {
    content: '';
    position: absolute;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: var(--main-color);
    border-radius: 50%;
}

.tab-item p {
    margin-top: 1rem;
}

.resume-box.Compétences {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.resume-box.Compétences .resume-item {
    align-items: center;
}

.resume-box.Compétences .resume-item i {
    font-size: 8rem;
    transition: .3s;
}
 
.resume-box.Compétences .resume-item:hover i {
    color: var(--main-color );
}

.resume-box.Compétences .resume-item p {
    margin-top: 0;
}


/*-- Responsive Mobile --*/

@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 992px) {
    .section {
    padding: 0 4%;
    }

    .resume,
    .portfolio {
        padding-top: 1.5rem;
        padding-bottom: 27rem;
    }

    .contact {
        padding-top: 1.5rem;
        padding-bottom: 18rem;
    }

}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .home,
    .about {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 6rem;
    }

    .about {
        flex-direction: column;
    }

    .img-box {
        width: 35rem;
        height: 35rem;
    }

    .resume,
    .portfolio {
        padding-bottom: 25rem;
    }

    .contact {
        padding-bottom: 16rem;
    }

}

@media screen and (max-width: 600px) {
    .resume,
    .portfolio {
        padding-top: 1rem;
        padding-bottom: 22rem;
    }

    .tab-box {
        margin-top: 0;
    }


    .contact {
        padding-top: 1rem;
    }

    .tab-list h3 {
        font-size: 2.1rem;
    }
    
}

@media screen and (max-width: 400px) {

    .home-info,
    .about-info {
        text-align: center;
    }

    .about-info h1 {
        font-size: 5rem;
    }

    .home-info .btn-sci {
        flex-direction: column-reverse;
    }

    .home-info .btn-sci .sci {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .img-box {
        width: 30rem;
        height: 30rem;
    }

    .about-info .title {
        text-align: center;
    }

}

@media screen and (max-width: 350px) {
    .img-box {
        width: 25rem;
        height: 25rem;
    }

    .tab-list h3 {
        font-size: 1.8rem;
    }

}